@define-color borders_breeze #595f6a;
@define-color content_view_bg_breeze #3b4252;
@define-color error_color_backdrop_breeze #bf616a;
@define-color error_color_breeze #bf616a;
@define-color error_color_insensitive_backdrop_breeze #644956;
@define-color error_color_insensitive_breeze #644956;
@define-color insensitive_base_color_breeze #383f4e;
@define-color insensitive_base_fg_color_breeze #6d7381;
@define-color insensitive_bg_color_breeze #2c323d;
@define-color insensitive_borders_breeze #3a404b;
@define-color insensitive_fg_color_breeze #656a75;
@define-color insensitive_selected_bg_color_breeze #2c323d;
@define-color insensitive_selected_fg_color_breeze #656a75;
@define-color insensitive_unfocused_bg_color_breeze #2c323d;
@define-color insensitive_unfocused_fg_color_breeze #656a75;
@define-color insensitive_unfocused_selected_bg_color_breeze #2c323d;
@define-color insensitive_unfocused_selected_fg_color_breeze #656a75;
@define-color link_color_breeze #5e81ac;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #a3be8c;
@define-color success_color_breeze #a3be8c;
@define-color success_color_insensitive_backdrop_breeze #5b6862;
@define-color success_color_insensitive_breeze #5b6862;
@define-color theme_base_color_breeze #3b4252;
@define-color theme_bg_color_breeze #2e3440;
@define-color theme_button_background_backdrop_breeze #3c4454;
@define-color theme_button_background_backdrop_insensitive_breeze #394150;
@define-color theme_button_background_insensitive_breeze #394150;
@define-color theme_button_background_normal_breeze #3c4454;
@define-color theme_button_decoration_focus_backdrop_breeze #4c566a;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #3f4757;
@define-color theme_button_decoration_focus_breeze #4c566a;
@define-color theme_button_decoration_focus_insensitive_breeze #3f4757;
@define-color theme_button_decoration_hover_backdrop_breeze #4c566a;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #3f4757;
@define-color theme_button_decoration_hover_breeze #4c566a;
@define-color theme_button_decoration_hover_insensitive_breeze #3f4757;
@define-color theme_button_foreground_active_backdrop_breeze #d8dee9;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #656a75;
@define-color theme_button_foreground_active_breeze #d8dee9;
@define-color theme_button_foreground_active_insensitive_breeze #656a75;
@define-color theme_button_foreground_backdrop_breeze #d8dee9;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6d7482;
@define-color theme_button_foreground_insensitive_breeze #6d7482;
@define-color theme_button_foreground_normal_breeze #d8dee9;
@define-color theme_fg_color_breeze #d8dee9;
@define-color theme_header_background_backdrop_breeze #2e3440;
@define-color theme_header_background_breeze #2e3440;
@define-color theme_header_background_light_breeze #2e3440;
@define-color theme_header_foreground_backdrop_breeze #d8dee9;
@define-color theme_header_foreground_breeze #d8dee9;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d8dee9;
@define-color theme_header_foreground_insensitive_breeze #d8dee9;
@define-color theme_hovering_selected_bg_color_breeze #4c566a;
@define-color theme_selected_bg_color_breeze #4c566a;
@define-color theme_selected_fg_color_breeze #d8dee9;
@define-color theme_text_color_breeze #d8dee9;
@define-color theme_titlebar_background_backdrop_breeze #2f343f;
@define-color theme_titlebar_background_breeze #2f343f;
@define-color theme_titlebar_background_light_breeze #2e3440;
@define-color theme_titlebar_foreground_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_insensitive_breeze #666a73;
@define-color theme_unfocused_base_color_breeze #3b4252;
@define-color theme_unfocused_bg_color_breeze #2e3440;
@define-color theme_unfocused_fg_color_breeze #d8dee9;
@define-color theme_unfocused_selected_bg_color_alt_breeze #373e4c;
@define-color theme_unfocused_selected_bg_color_breeze #373e4c;
@define-color theme_unfocused_selected_fg_color_breeze #d8dee9;
@define-color theme_unfocused_text_color_breeze #d8dee9;
@define-color theme_unfocused_view_bg_color_breeze #383f4e;
@define-color theme_unfocused_view_text_color_breeze #6d7381;
@define-color theme_view_active_decoration_color_breeze #4c566a;
@define-color theme_view_hover_decoration_color_breeze #4c566a;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5d616d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #595f6a;
@define-color unfocused_insensitive_borders_breeze #3a404b;
@define-color warning_color_backdrop_breeze #d08770;
@define-color warning_color_breeze #d08770;
@define-color warning_color_insensitive_backdrop_breeze #6a5658;
@define-color warning_color_insensitive_breeze #6a5658;
